# Customer Behaviour Analysis

In [36]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ajay\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ajay\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ajay\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ajay\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ajay\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ajay\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [37]:
import pandas as pd

# Download CSV Files & Load Data into SQL (Python & SQL)

# Products

In [38]:
df_Products = pd.read_csv("Products.csv")

In [39]:
df_Products

    ProductID      ProductName Category   Price
0           1    Running Shoes   Sports  223.75
1           2  Fitness Tracker   Sports  196.68
2           3         Yoga Mat   Sports  485.32
3           4        Dumbbells   Sports   26.21
4           5      Soccer Ball   Sports   41.26
5           6    Tennis Racket   Sports   36.07
6           7       Basketball   Sports  225.12
7           8  Football Helmet   Sports   44.75
8           9   Baseball Glove   Sports  327.36
9          10       Golf Clubs   Sports   81.59
10         11        Ski Boots   Sports  340.20
11         12       Ice Skates   Sports   37.56
12         13     Swim Goggles   Sports  145.97
13         14   Cycling Helmet   Sports  472.32
14         15    Climbing Rope   Sports  410.17
15         16            Kayak   Sports  259.40
16         17        Surfboard   Sports  275.43
17         18       Volleyball   Sports   42.80
18         19     Hockey Stick   Sports  173.83
19         20    Boxing Gloves   Sports  262.32

In [40]:
df_Products.duplicated().sum()

0

In [41]:
df_Products.dropna(inplace=True)

In [42]:
df_Products.isnull().sum()

ProductID      0
ProductName    0
Category       0
Price          0
dtype: int64

In [43]:
df_Products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    20 non-null     int64
 1   ProductName  20 non-null     object
 2   Category     20 non-null     object
 3   Price        20 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 772.0+ bytes

In [44]:
df_Products['Price'] = pd.to_numeric(df_Products['Price'], errors='coerce')

In [45]:
df_Products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    20 non-null     int64
 1   ProductName  20 non-null     object
 2   Category     20 non-null     object
 3   Price        20 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 772.0+ bytes

# Geography

In [46]:
df_Geography= pd.read_csv("Geography.csv")

In [47]:
df_Geography

   GeographyID      Country       City
0            1           UK     London
1            2      Germany     Berlin
2            3       France      Paris
3            4        Spain     Madrid
4            5        Italy       Rome
5            6  Netherlands  Amsterdam
6            7      Belgium   Brussels
7            8       Sweden  Stockholm
8            9  Switzerland     Zurich
9           10      Austria     Vienna

In [49]:
df_Geography.duplicated().sum()

0

In [50]:
df_Geography.isnull().sum()

GeographyID    0
Country        0
City           0
dtype: int64

In [51]:
df_Geography.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GeographyID  10 non-null     int64
 1   Country      10 non-null     object
 2   City         10 non-null     object
dtypes: int64(1), object(2)
memory usage: 372.0+ bytes

# Engagement_data

In [52]:
df_Engagement_data= pd.read_csv("Engagement_data.csv")

In [53]:
df_Engagement_data

,EngagementID,ContentID,ContentType,Likes,EngagementDate,CampaignID,ProductID,View,Clicks
0,1,39,Blog,190,2023-08-30,1,9,1883,671
1,2,48,Blog,114,2023-03-28,18,20,5280,532
2,3,16,video,32,2023-12-08,7,14,1905,204
3,4,43,Video,17,2025-01-21,19,20,2766,257
4,5,16,newsletter,306,2024-02-21,6,15,5116,1524
...,...,...,...,...,...,...,...,...,...
95,96,17,Blog,32,2024-07-15,14,13,712,142
96,97,34,blog,3,2025-07-01,16,7,696,47
97,98,44,blog,0,2025-08-20,11,8,231,10
98,99,26,Blog,119,2024-04-15,17,4,3511,479
99,100,32,Video,34,2024-05-05,15,13,2657,175

In [55]:
df_Engagement_data.duplicated().sum()

0

In [56]:
df_Engagement_data.isnull().sum()

EngagementID      0
ContentID         0
ContentType       0
Likes             0
EngagementDate    0
CampaignID        0
ProductID         0
View              0
Clicks            0
dtype: int64

In [57]:
df_Engagement_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EngagementID    100 non-null    int64
 1   ContentID       100 non-null    int64
 2   ContentType     100 non-null    object
 3   Likes           100 non-null    int64
 4   EngagementDate  100 non-null    object
 5   CampaignID      100 non-null    int64
 6   ProductID       100 non-null    int64
 7   View            100 non-null    int64
 8   Clicks          100 non-null    int64
dtypes: int64(7), object(2)
memory usage: 7.2+ KB

In [58]:
df_Engagement_data['EngagementDate'] = pd.to_datetime(df_Engagement_data['EngagementDate'])

In [59]:
df_Engagement_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EngagementID    100 non-null    int64
 1   ContentID       100 non-null    int64
 2   ContentType     100 non-null    object
 3   Likes           100 non-null    int64
 4   EngagementDate  100 non-null    datetime64[ns]
 5   CampaignID      100 non-null    int64
 6   ProductID       100 non-null    int64
 7   View            100 non-null    int64
 8   Clicks          100 non-null    int64
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 7.2+ KB

# Customers

In [60]:
df_customers= pd.read_csv("customers.csv")

In [61]:
df_customers

,CustomerID,CustomerName,Email,Gender,Age,GeographyID
0,1,Emma Anderson,emma.anderson@example.com,M,50,2
1,2,Sarah Brown,sarah.brown@example.com,F,37,4
2,3,Robert Hernandez,robert.hernandez@example.com,F,26,6
3,4,David Garcia,david.garcia@example.com,M,25,8
4,5,Emma Miller,emma.miller@example.com,F,41,4
...,...,...,...,...,...,...
95,96,Emily Gonzalez,emily.gonzalez@example.com,F,38,10
96,97,Emily Rodriguez,emily.rodriguez@example.com,F,51,3
97,98,Chris Lopez,chris.lopez@example.com,F,55,10
98,99,Laura Hernandez,laura.hernandez@example.com,M,41,5
99,100,Jane Brown,jane.brown@example.com,F,45,10

In [62]:
df_customers.duplicated().sum()

0

In [63]:
df_customers.isnull().sum()

CustomerID      0
CustomerName    0
Email           0
Gender          0
Age             0
GeographyID     0
dtype: int64

In [64]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    100 non-null    int64
 1   CustomerName  100 non-null    object
 2   Email         100 non-null    object
 3   Gender        100 non-null    object
 4   Age           100 non-null    int64
 5   GeographyID   100 non-null    int64
dtypes: int64(3), object(3)
memory usage: 4.8+ KB

In [65]:
df_customers["Gender"] = df_customers["Gender"].replace({"Male": "M", "Female": "F"})
df_customers["Email"] = df_customers["Email"].str.lower().str.strip()

In [66]:
df_customers['GeographyID'] = df_customers['GeographyID'].fillna(-1)

In [67]:
df_customers.dropna(inplace= True)

In [68]:
df_customers.isnull().sum()

CustomerID      0
CustomerName    0
Email           0
Gender          0
Age             0
GeographyID     0
dtype: int64

In [69]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    100 non-null    int64
 1   CustomerName  100 non-null    object
 2   Email         100 non-null    object
 3   Gender        100 non-null    object
 4   Age           100 non-null    int64
 5   GeographyID   100 non-null    int64
dtypes: int64(3), object(3)
memory usage: 4.8+ KB

# Customer_reviews

In [70]:
df_customer_reviews= pd.read_csv("customer_reviews.csv")

In [71]:
df_customer_reviews

,ReviewID,CustomerID,ProductID,ReviewDate,Rating,ReviewText
0,1,77,18,2023-12-23,3,"Average experience, nothing special."
1,2,80,19,2024-12-25,5,The quality is top-notch.
2,3,50,13,2025-01-26,4,Five stars for the quick delivery.
3,4,78,15,2025-04-21,3,"Good quality, but could be cheaper."
4,5,64,2,2023-07-16,3,"Average experience, nothing special."
...,...,...,...,...,...,...
95,96,19,13,2023-09-02,3,"Good quality, but could be cheaper."
96,97,64,6,2024-01-19,3,"The product is okay, but the instruction..."
97,98,96,3,2025-11-20,5,Exceeded my expectations!
98,99,79,16,2025-01-29,2,"Average experience, nothing special."
99,100,9,2,2025-06-20,3,Not worth the money.

In [73]:
df_customer_reviews.duplicated().sum()

0

In [74]:
df_customer_reviews.isnull().sum()

ReviewID      0
CustomerID    0
ProductID     0
ReviewDate    0
Rating        0
ReviewText    0
dtype: int64

In [75]:
df_customer_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ReviewID    100 non-null    int64
 1   CustomerID  100 non-null    int64
 2   ProductID   100 non-null    int64
 3   ReviewDate  100 non-null    object
 4   Rating      100 non-null    int64
 5   ReviewText  100 non-null    object
dtypes: int64(4), object(2)
memory usage: 4.8+ KB

In [76]:
df_customer_reviews['ReviewDate'] = pd.to_datetime(df_customer_reviews['ReviewDate'])

In [77]:
df_customer_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ReviewID    100 non-null    int64
 1   CustomerID  100 non-null    int64
 2   ProductID   100 non-null    int64
 3   ReviewDate  100 non-null    datetime64[ns]
 4   Rating      100 non-null    int64
 5   ReviewText  100 non-null    object
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 4.8+ KB

# Customer_journey

In [78]:
df_customer_journey= pd.read_csv("customer_journey.csv")

In [79]:
df_customer_journey

,JourneyID,CustomerID,ProductID,VisitDate,Stage,Action,Duration
0,1,64,18,2024-06-10,Checkout,Drop-off,0.0
1,2,94,11,2025-07-09,Checkout,Drop-off,0.0
2,3,34,8,2024-06-14,ProductPage,View,235.0
3,4,33,18,2025-05-28,Checkout,Drop-off,0.0
4,5,91,10,2023-02-11,Homepage,Click,156.0
...,...,...,...,...,...,...,...
95,96,22,9,2024-07-28,ProductPage,View,212.0
96,97,92,19,2025-05-26,homepage,View,203.0
97,98,95,8,2025-05-25,Homepage,Click,68.0
98,99,58,16,2024-07-06,Checkout,Purchase,87.0
99,100,92,10,2024-04-06,ProductPage,View,237.0

In [81]:
df_customer_journey.duplicated().sum()

0

In [82]:
df_customer_journey.isnull().sum()

JourneyID     0
CustomerID    0
ProductID     0
VisitDate     0
Stage         0
Action        0
Duration      0
dtype: int64

In [83]:
df_customer_journey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   JourneyID   100 non-null    int64
 1   CustomerID  100 non-null    int64
 2   ProductID   100 non-null    int64
 3   VisitDate   100 non-null    object
 4   Stage       100 non-null    object
 5   Action      100 non-null    object
 6   Duration    100 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 5.6+ KB

In [84]:
df_customer_journey['VisitDate'] = pd.to_datetime(df_customer_journey['VisitDate'])

In [85]:
df_customer_journey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   JourneyID   100 non-null    int64
 1   CustomerID  100 non-null    int64
 2   ProductID   100 non-null    int64
 3   VisitDate   100 non-null    datetime64[ns]
 4   Stage       100 non-null    object
 5   Action      100 non-null    object
 6   Duration    100 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 5.6+ KB

In [86]:
print(df_Products.info())
df_Products.to_csv('Products.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ProductID    20 non-null     int64
 1   ProductName  20 non-null     object
 2   Category     20 non-null     object
 3   Price        20 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 772.0+ bytes
None

In [87]:
print(df_Geography.info())
df_Geography.to_csv('Geography.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GeographyID  10 non-null     int64
 1   Country      10 non-null     object
 2   City         10 non-null     object
dtypes: int64(1), object(2)
memory usage: 372.0+ bytes
None

In [88]:
print(df_Engagement_data.info())
df_Engagement_data.to_csv('Engagement_data.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EngagementID    100 non-null    int64
 1   ContentID       100 non-null    int64
 2   ContentType     100 non-null    object
 3   Likes           100 non-null    int64
 4   EngagementDate  100 non-null    datetime64[ns]
 5   CampaignID      100 non-null    int64
 6   ProductID       100 non-null    int64
 7   View            100 non-null    int64
 8   Clicks          100 non-null    int64
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 7.2+ KB
None

In [89]:
print(df_customers.info())
df_customers.to_csv('customers.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    100 non-null    int64
 1   CustomerName  100 non-null    object
 2   Email         100 non-null    object
 3   Gender        100 non-null    object
 4   Age           100 non-null    int64
 5   GeographyID   100 non-null    int64
dtypes: int64(3), object(3)
memory usage: 4.8+ KB
None

In [90]:
print(df_customer_reviews.info())
df_customer_reviews.to_csv('customer_reviews.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ReviewID    100 non-null    int64
 1   CustomerID  100 non-null    int64
 2   ProductID   100 non-null    int64
 3   ReviewDate  100 non-null    datetime64[ns]
 4   Rating      100 non-null    int64
 5   ReviewText  100 non-null    object
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 4.8+ KB
None

In [91]:
print(df_customer_journey.info())
df_customer_journey.to_csv('customer_journey.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   JourneyID   100 non-null    int64
 1   CustomerID  100 non-null    int64
 2   ProductID   100 non-null    int64
 3   VisitDate   100 non-null    datetime64[ns]
 4   Stage       100 non-null    object
 5   Action      100 non-null    object
 6   Duration    100 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(3), object(2)
memory usage: 5.6+ KB
None

# Conversion of CSV files into Structured SQL tables through Python

In [92]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\ajay\anaconda3\lib\site-packages (9.2.0)

In [93]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="Sharmi",
  password="GUVI.Sharmi@May13",
  database="shopeasy",
    autocommit=True
)

mycursor = mydb.cursor()

# Create customers table

In [94]:
mycursor.execute('''
    CREATE TABLE IF NOT EXISTS customers (
        Customer_ID INTEGER PRIMARY KEY,
        CustomerName TEXT,
        Email TEXT,
        Gender TEXT,
        Age INTEGER,
        GeographyID INTEGER
    )
''')

In [95]:
# ✅ Insert Data into Customers Table

query = "INSERT INTO Customers (Customer_ID, CustomerName, Email, Gender, Age, GeographyID) VALUES (%s, %s, %s, %s, %s, %s)"

In [96]:
values = [tuple(x) for x in df_customers.to_numpy()]

# Create Products table

In [97]:
mycursor.execute('''
    CREATE TABLE IF NOT EXISTS products (
        ProductID INT PRIMARY KEY,
        ProductName TEXT,
        Category TEXT,
        Price DECIMAL(10,2)
    )
''')

In [98]:
# ✅ Insert Data into Products Table

query = """
    INSERT INTO products (ProductID, ProductName, Category, Price) 
    VALUES (%s, %s, %s, %s)
"""

In [99]:
values = [tuple(x) for x in df_Products.to_numpy()]

# Create Geography table

In [100]:
mycursor.execute('''
    CREATE TABLE IF NOT EXISTS Geography (
        GeographyID INT PRIMARY KEY,
        Country TEXT ,
        City TEXT 
    )
''')

In [101]:
# ✅ Insert Data into Geography Table

query = """
    INSERT INTO Geography (GeographyID, Country, City) 
    VALUES (%s, %s, %s)
"""

In [102]:
values = [tuple(x) for x in df_Geography.to_numpy()]

# Create Engagement_data table

In [103]:
mycursor.execute('''
    CREATE TABLE IF NOT EXISTS engagements (
        EngagementID INT PRIMARY KEY,
        ContentID INT NOT NULL,
        ContentType VARCHAR(50) NOT NULL,
        Likes INT DEFAULT 0,
        EngagementDate DATE NOT NULL,
        CampaignID INT,
        ProductID INT,
        View INT DEFAULT 0,
        Clicks INT DEFAULT 0
    )
''')

In [104]:
# ✅ Insert Data into Engagement_Data Table

query = """
    INSERT INTO engagements (EngagementID, ContentID, ContentType, Likes, EngagementDate, 
                             CampaignID, ProductID, View, Clicks) 
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

In [105]:
values = [tuple(x) for x in df_Engagement_data.to_numpy()]

# Create Customer_reviews table

In [106]:
mycursor.execute('''
    CREATE TABLE IF NOT EXISTS customer_reviews (
        ReviewID INT PRIMARY KEY,
        CustomerID INT NOT NULL,
        ProductID INT NOT NULL,
        ReviewDate DATE NOT NULL,
        Rating INT ,
        ReviewText TEXT
    )
''')

In [107]:
# ✅ Insert Data into Customer_Reviews Table


query = """
    INSERT INTO customer_reviews (ReviewID,CustomerID, ProductID, ReviewDate, Rating, ReviewText) 
    VALUES (%s,%s, %s, %s, %s, %s)
"""

In [108]:
values = [tuple(x) for x in df_customer_reviews.to_numpy()]

# Create Customer_journey table

In [109]:
mycursor.execute('''
    CREATE TABLE IF NOT EXISTS customer_journey (
        JourneyID INT PRIMARY KEY ,
        CustomerID INT NOT NULL,
        ProductID INT NOT NULL,
        VisitDate DATE NOT NULL,
        Stage TEXT NOT NULL,
        Action TEXT NOT NULL,
        Duration DECIMAL(10,2) 
    )
''')

In [110]:
# ✅ Insert Data into Customer_Journey Table

query = """
    INSERT INTO customer_journey (JourneyID,CustomerID, ProductID, VisitDate, Stage, Action, Duration) 
    VALUES(%s,%s, %s, %s, %s, %s, %s)
"""

In [111]:
values = [tuple(x) for x in df_customer_journey.to_numpy()]

# Data Extraction & Transformation (SQL & Python):

In [112]:
import pandas as pd

In [113]:
# Load cleaned datasets (assume cleaned_data is already defined)

customers = pd.read_csv("customers.csv")
geography = pd.read_csv("geography.csv")
products  = pd.read_csv("Products.csv")
customer_engagement = pd.read_csv("Engagement_data.csv")
customer_journey = pd.read_csv("customer_journey.csv")
customer_reviews = pd.read_csv("customer_reviews.csv")

In [114]:
# Step 1: Perform Joins
# Join Customers with Geography

customers_geo = pd.merge(customers, geography, how='left', left_on='GeographyID', right_on='GeographyID')

In [115]:
# Join Engagement Data with Products

Engagement_products = pd.merge(customer_engagement, products, how='left', left_on='ProductID', right_on='ProductID')

In [116]:
# Join Customer Reviews with Customers and Products

reviews_full = pd.merge(customer_reviews, customers_geo, how='left', on='CustomerID')
reviews_full = pd.merge(reviews_full, products, how='left', on='ProductID')

In [117]:
# Step 2: Apply Window Functions
# Example: Rank Customers by Number of Reviews

reviews_full['ReviewCount'] = reviews_full.groupby('CustomerID')['ReviewID'].transform('count')
reviews_full['RankByReviews'] = reviews_full.groupby('Country')['ReviewCount'].rank(ascending=False, method='dense')

In [118]:
# Example: Calculate Running Total of Engagements per Product

Engagement_products.rename(columns={'View': 'Views'}, inplace=True)

In [119]:
# Step 3: Use CTEs and Subqueries
# Example: Find Top-Reviewed Products (Simulated CTE)

Engagement_products['RunningTotalViews'] = Engagement_products.groupby('ProductID')['Views'].cumsum()

In [120]:
reviews_summary = reviews_full.groupby('ProductID').agg({
    'Rating': 'mean',
    'ReviewID': 'count'
}).rename(columns={'Rating': 'AverageRating', 'ReviewID': 'TotalReviews'})

In [121]:
# Filter Products with More than 10 Reviews and High Average Rating

top_reviewed_products = reviews_summary[(reviews_summary['TotalReviews'] >=3) & (reviews_summary['AverageRating'] >= 4.0)]

In [122]:
# Example: Average Engagement by Product Category (Subquery Simulation)

average_engagement = Engagement_products.groupby('Category').agg({
    'Views': 'mean',
    'Clicks': 'mean'
}).rename(columns={'Views': 'AvgViews', 'Clicks': 'AvgClicks'})

In [123]:
print("Customers with Geography:")
print(customers_geo.head())

Customers with Geography:
   CustomerID      CustomerName                         Email Gender  Age  \
0           1     Emma Anderson     emma.anderson@example.com      M   50
1           2       Sarah Brown       sarah.brown@example.com      F   37
2           3  Robert Hernandez  robert.hernandez@example.com      F   26
3           4      David Garcia      david.garcia@example.com      M   25
4           5       Emma Miller       emma.miller@example.com      F   41

   GeographyID      Country       City
0            2      Germany     Berlin
1            4        Spain     Madrid
2            6  Netherlands  Amsterdam
3            8       Sweden  Stockholm
4            4        Spain     Madrid

In [124]:
print("\nEngagement with Products:")
print(Engagement_products.head())

Engagement with Products:
   EngagementID  ContentID ContentType  Likes EngagementDate  CampaignID  \
0             1         39        Blog    190     2023-08-30           1
1             2         48        Blog    114     2023-03-28          18
2             3         16       video     32     2023-12-08           7
3             4         43       Video     17     2025-01-21          19
4             5         16  newsletter    306     2024-02-21           6

   ProductID  Views  Clicks     ProductName Category   Price  \
0          9   1883     671  Baseball Glove   Sports  327.36
1         20   5280     532   Boxing Gloves   Sports  262.32
2         14   1905     204  Cycling Helmet   Sports  472.32
3         20   2766     257   Boxing Gloves   Sports  262.32
4         15   5116    1524   Climbing Rope   Sports  410.17

   RunningTotalViews
0               1883
1               5280
2               1905
3               8046
4               5116

In [125]:
print("\nTop Reviewed Products:")
print(top_reviewed_products.head())

Top Reviewed Products:
           AverageRating  TotalReviews
ProductID
1                    4.0             4
5                    4.0             3
8                    5.0             3
11                   4.0             6
15                   4.0             6

In [126]:
print("\nAverage Engagement by Category:")
print(average_engagement.head())

Average Engagement by Category:
          AvgViews  AvgClicks
Category
Sports     2270.45     469.51

In [127]:
# Identify drop-off points in the customer journey.

drop_offs = customer_journey[customer_journey['Action'] == 'Drop-off']

In [128]:
drop_off_summary = drop_offs['Stage'].value_counts().reset_index()

In [129]:
drop_off_summary.columns = ['Stage', 'DropOffCount']

In [130]:
print("\n--- Drop-off Summary ---")
print(drop_off_summary)

--- Drop-off Summary ---
      Stage  DropOffCount
0  Checkout            12
1  checkout             2

In [131]:
# Check unique actions to infer what counts as a conversion
customer_journey['Action'].unique()

array(['Drop-off', 'View', 'Click', 'Purchase'], dtype=object)

In [132]:
successful_journeys = customer_journey[customer_journey['Action'] == 'Purchase']

In [133]:
customer_journey['VisitDate'] = pd.to_datetime(customer_journey['VisitDate'])
journey_sorted = customer_journey.sort_values(by=['CustomerID', 'VisitDate'])

In [134]:
# Count the most common actions before purchase

purchase_ids = successful_journeys['JourneyID'].tolist()
pre_purchase_actions = journey_sorted[journey_sorted['JourneyID'].isin(purchase_ids)]

In [135]:
actions_before_purchase = pre_purchase_actions['Action'].value_counts().reset_index()
actions_before_purchase.columns = ['Action', 'Count']

In [136]:
# common actions leading to successful conversions.

print(actions_before_purchase)

     Action  Count
0  Purchase      6

In [137]:
# Calculate average duration per stage for engagement insights.

avg_duration = customer_journey.groupby('Stage')['Duration'].mean().reset_index()
avg_duration.columns = ['Stage', 'AvgDuration']

In [138]:
print("\n--- Average Duration per Stage ---")
print(avg_duration)

--- Average Duration per Stage ---
         Stage  AvgDuration
0     Checkout    50.055556
1     Homepage   158.520000
2  ProductPage   186.666667
3     checkout     0.000000
4     homepage   185.750000
5  productpage   136.000000

In [139]:
# Identify highest-rated and lowest-rated products using SQL.

avg_ratings = customer_reviews.groupby('ProductID')['Rating'].mean().reset_index()
avg_ratings.columns = ['ProductID', 'AverageRating']

product_ratings = pd.merge(avg_ratings, products, on='ProductID')


top_rated = product_ratings.sort_values(by='AverageRating', ascending=False).head(5)
bottom_rated = product_ratings.sort_values(by='AverageRating', ascending=True).head(5)

top_rated, bottom_rated

(    ProductID  AverageRating      ProductName Category   Price
 7           8            5.0  Football Helmet   Sports   44.75
 17         19            4.4     Hockey Stick   Sports  173.83
 0           1            4.0    Running Shoes   Sports  223.75
 16         18            4.0       Volleyball   Sports   42.80
 13         15            4.0    Climbing Rope   Sports  410.17,
     ProductID  AverageRating     ProductName Category   Price
 6           7       2.666667      Basketball   Sports  225.12
 3           4       3.000000       Dumbbells   Sports   26.21
 11         12       3.000000      Ice Skates   Sports   37.56
 8           9       3.400000  Baseball Glove   Sports  327.36
 14         16       3.400000           Kayak   Sports  259.40)

# Sentiment Analysis

In [140]:
pip install pandas textblob

Requirement already satisfied: pandas in c:\users\ajay\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: textblob in c:\users\ajay\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ajay\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ajay\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ajay\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ajay\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: nltk>=3.9 in c:\users\ajay\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\ajay\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\ajay\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\ajay\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\ajay\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.66.5)
Requirement already satisfied: six>=1.5 in c:\users\ajay\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: colorama in c:\users\ajay\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [267]:
import pandas as pd
from textblob import TextBlob


reviews_df = pd.read_csv("customer_reviews.csv")


reviews_df['ReviewText'] = reviews_df['ReviewText'].astype(str).str.strip()


reviews_df['SentimentScore'] = reviews_df['ReviewText'].apply(lambda x: TextBlob(x).sentiment.polarity)


def categorize_sentiment(score):
    if score > 0.1:
        return 'Positive'
    elif score < -0.1:
        return 'Negative'
    else:
        return 'Neutral'

reviews_df['SentimentCategory'] = reviews_df['SentimentScore'].apply(categorize_sentiment)


print("Sentiment Distribution:")
print(reviews_df['SentimentCategory'].value_counts())


sentiment_rating_summary = reviews_df.groupby('SentimentCategory')['Rating'].mean()
print("\nAverage Rating by Sentiment Category:")
print(sentiment_rating_summary)


product_sentiment_summary = reviews_df.groupby('ProductID')['SentimentScore'].mean().sort_values(ascending=False)
print("\nTop 5 Products by Average Sentiment Score:")
print(product_sentiment_summary.head())


reviews_df.to_csv("customer_reviews_with_sentiment.csv", index=False)

Sentiment Distribution:
SentimentCategory
Positive    84
Negative    11
Neutral      5
Name: count, dtype: int64

Average Rating by Sentiment Category:
SentimentCategory
Negative    2.454545
Neutral     3.200000
Positive    3.928571
Name: Rating, dtype: float64

Top 5 Products by Average Sentiment Score:
ProductID
8     0.644444
9     0.625000
11    0.597222
7     0.566667
19    0.536667
Name: SentimentScore, dtype: float64